@import "tailwindcss";


@keyframes bounce-x {
  0%, 100% { transform: translateX(0); }
  50%       { transform: translateX(4px); }
}

@utility animate-bounce-x {
  animation: bounce-x 1s ease-in-out infinite;
}